<ion-item *ngIf="film" (onclick)="onShow(film)" [detail]="false">
  <!-- <div slot="start" [class]="!film.video ? 'dot dot-unread' : 'dot'"></div> -->
  <!-- <div>
    <ion-img [src]="getFilmImage(film.poster_path)"></ion-img>

    <div>{{ film.title }}</div>
  </div> -->

  <!-- <img src="assets/img/starwars.jpg" /> -->
  <div class="film_container">
    <div>
      <ion-img
        class="col poster"
        [src]="getFilmImage(film.poster_path)"
      ></ion-img>
    </div>
    <div class="film_content">
      <div class="film_header_container">
        <div class="film_title">{{ film.title }}</div>
        <div class="film_vote">{{ film.vote_average }}</div>
      </div>
      <div class="film_overview">{{ substring(film.overview) }}</div>
    </div>

    <div class="col"></div>
  </div>

  <!-- <ion-label class="ion-text-wrap">
    <h2>
      {{ film.title }}
      <span class="date">
        <ion-note>{{ film.release_date }}</ion-note>
        <ion-icon
          name="chevron-forward"
          size="small"
          *ngIf="isIos()"
        ></ion-icon>
      </span>
    </h2>
    <h3>{{ film.original_language }}</h3>
    <p>
      {{ film.overview }}
    </p>
  </ion-label> -->
</ion-item>
